@import "../../Variables";

.weather {
    width: 100vw;
    height: 110px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $top_bottom_padding;

    opacity: 0;
    transition: opacity 1000ms;
}

.weather-showing {
    opacity: 1;
}

.weather__card {
    $weather_card_height: 80px;

    display: flex;
    align-items: center;

    .weather__icon {
        width: 70px;
        height: $weather_card_height;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .weatehr__border {
        position: relative;
        width: 2px;
        height: 60px;
        border-radius: 12px;
        background-color: $base_white_color;
        box-shadow: $base_shadow_setting;
    }

    .weather__info {
        width: 110px;
        height: $weather_card_height;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: $base_shadow_setting;
        .temp {
            font-size: 18px;
        }
        .location {
            font-size: 12px;
        }
    }
}
