@import "../../Variables";

.guide {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    .scrollbar_deleter {
        margin-left: -17px;
        overflow: hidden;
    }

    .guide__slidebar {
        position: relative;
        width: 35vw;
        height: 100vh;

        // scrollbar-width: none;
        // 스크롤바 넓이가 안되는 브라우저를 위해
        right: -17px;
        overflow-y: scroll;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .slidebar__base {
            position: absolute;
            top: 0;
            left: 0;
            width: 25vw;
            height: 1200px;
            background-color: rgba(145, 189, 217, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .guide__cards {
        width: 72vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.slide__element {
    position: relative;
    width: 30vw;
    height: 100px;
    z-index: 1;

    // 그라디언트를 이용한 배경은 트랜지션이 먹질 않아
    // after을 이용하여 객체를 만든 후 해당 객체의 투명도를 조절
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to right,
            rgba(122, 159, 191, 1),
            rgba(122, 159, 191, 0)
        );
        z-index: 2;
        transition: opacity $guide_scrollbar_animation_time;
        opacity: 0;
    }

    .slide__element__name {
        all: unset;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        width: 30vw;
        z-index: 3;
        font-size: 18px;
        opacity: 0.8;
        transition: all $guide_scrollbar_animation_time;
    }
}

.silde__select {
    &:after {
        content: "";
        opacity: 1;
    }

    .slide__element__name {
        font-size: 22px;
        opacity: 1;
    }
}
