@import "../../Variables";

.guidecard {
    display: flex;
    flex-direction: column;

    width: 440px;
    height: 460px;
    box-shadow: $base_shadow_setting;

    position: absolute;
    transition: opacity 500ms;
    opacity: 0;
    z-index: -1;

    .guidecard__data {
        position: relative;
        width: 100%;
        height: 72%;
        background-color: $base_white_color;
        overflow: hidden;
        object-fit: contain;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            transform: translateX(-100%);
            transition: transform 500ms;
        }

        .guidecard__map {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            transform: translateX(100%);
            transition: transform 500ms;

            * {
                overflow: visible !important;
            }
        }

        .selected {
            transform: translateX(0);
        }
    }

    .guidecard_info {
        width: 100%;
        height: 28%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(141, 182, 211, 0.8);
        padding: 10px 10px;

        * {
            text-shadow: $base_shadow_setting;
        }

        h1 {
            span {
                margin-left: 8px;
                font-size: 18px;
            }
        }

        span {
            font-size: 18px;
        }
    }
}

.guidecard__selected {
    opacity: 1;
    z-index: 1;
}

.guidecard__button {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    span {
        width: 14px;
        height: 6px;
        margin: 10px 4px;
        border-radius: 15px;
        background-color: $base_white_color;
        opacity: 0.4;
        transition: transform 500ms, opacity 500ms;
        z-index: 10;
    }

    .selected {
        transform: scale(1.2);
        opacity: 1;
    }
}

.circle-enter {
    transform: translate(0%, 100%);
}

.circle-enter-active {
    transform: translate(0%, 0%);
    transition: all 500ms;
}

.circle-exit {
    position: absolute;
    transform: translateX(0%);
}

.circle-exit-active {
    transform: translateX(100%);
    transition: all 500ms;
}
