@import "../../Variables";

.nav {
    width: 100vw;
    height: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $top_bottom_padding;

    .nav__logo {
        a {
            all: unset;
        }
        h1 {
            all: unset;
            font-size: 22px;
            font-weight: 500;
            cursor: pointer;
            text-shadow: $base_shadow_setting;
        }
    }
}

.nav__router {
    a {
        all: unset;
        cursor: pointer;
        margin-left: 60px;
        font-size: 18px;
        font-weight: 500;
        text-shadow: $base_shadow_setting;
    }
}
